$primary-background: lightpink;
$font-stack: 'Abel', sans-serif;


body {
  background-color: $primary-background;
  font-family: $font-stack;
}

.splash-text {
  margin-top: 13%;
  text-align: center;
}
